{{define "yield"}}
    <h1>Common FAQ</h1>

    <p><b>What is gophr.com</b></p>
    </p>It is an image sharing website made with GoLang / Go.</p>

    <p><b>Some other question ?</b></p>
    <p>Some other answer</p>
{{end}}